<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/collection.css">

    <title>Frontend Mentor | E-commerce product page</title>

</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="../images/logo.svg" id="sneaker-logo" alt="Sneakers">
                </a>
                <img src="../images/icon-menu.svg" class="menu" alt="menu">
            </div>
            <div class="nav-link">
                <ul class="links">
                    <a class="menuClose"><img src="../images/icon-close.svg" alt=""></a>
                    <a href="collection.html" class="link">Collections</a>
                    <a href="men.html" class="link">Men</a>
                    <a href="#" class="link">Women</a>
                    <a href="#" class="link">About</a>
                    <a href="#" class="link">Contact</a>
                </ul>
                <ul class="cart-avatar">
                    <li class="cart">
                        <img class="cartImg" src="../images/icon-cart.svg" alt="Cart">
                        <span id="cartId">0</span>
                        <!-- Cart Drop Down -->
                        <div class="cartMenu">
                            <div class="cartHeader">
                                Cart
                            </div>
                            <div class="cartBody">
                                <div class="cartItem">
                                    <img id="cartItemImg" src="../images/image-product-1-thumbnail.jpg" alt="">
                                    <div class="cartQuery">
                                        <p>Fall Limited Edition Sneakers</p>
                                        <p>$125.00 x <span id="cartItemNumber">3</span> <span id="cartItemTotal">$375.00</span></p>
                                    </div>
                                    <img id="cartDeleteImg" src="../images/icon-delete.svg" alt="">
                                </div>
                                <button class="cartCheckout"> Checkout </button>
                            </div>
                        </div>
                    </li>
                    <li class="avatar">
                        <img class="avatar_img" src="../images/image-avatar.png" alt="User">
                        <div class="avatar_menu">
                            <div class="greetings">
                                <p>Hi, <span id="username">Lorem</span></p>
                            </div>
                            <ul class="avatar_info">
                                <li class="myAccount"><span><img class="user-info-img" src="../images/user-icon.png" alt=""></span> My Account</li>
                                <li class="order"><span><img class="user-info-img" src="../images/order-icon.png" alt=""></span> Order</li>
                                <li class="savedItems"><span><img class="user-info-img" src="../images/dark-like-icon.png" alt=""></span> Saved Item</li>
                            </ul>
                            <div class="logout">
                                <p>LOGOUT</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="hero">
            <!-- --------- LATEST DROPS ---------- -->
            <div class="latest-drop">
                <p id="heading-txt">LATEST DROPS</p>
                <div class="thumbnail lds">
                    <a href="#"> <img src="../images/men_back_12.jpg" alt=""></a>
                    <a href="#"> <img src="../images/men_back_14.jpg" alt=""></a>
                    <a href="#"> <img src="../images/men_back_21.jpg" alt=""></a>
                    <a href="#"> <img src="../images/men_back_4.jpg" alt=""></a>
                    <a href="#"> <img src="../images/men_back_11.jpg" alt=""></a>
                    <a href="#"> <img src="../images/men_back_6.jpg" alt=""></a>

                </div>
            </div>
            <!-- ------------ ITEM PREVIEW ---------- -->
            <div class="item-review">
                <div class="nike">
                    NIKE
                    <div class="item1 items">
                        <a href="#" class="item">
                            <img src="../images/men_back_14.jpg" alt=""></a>
                        <div class="writeup">
                            <p class="normal-txt">
                                Authenticity. 100% Guaranteed.
                            </p>
                            <span id="txt">Air Jordan 1 Retro Low OG X Travis Scott</span>
                            <button class="btn">Shop Now</button>
                        </div>
                    </div>
                    <div class="item2 items">
                        <a href="#" class="item">
                            <img src="../images/men_back_15.jpg" alt=""></a>
                        <div class="writeup">
                            <p class="normal-txt">
                                Authenticity. 100% Guaranteed.
                            </p>
                            <span id="txt">Air Jordan 1 Retro Low OG X Travis Scott</span>
                            <button class="btn">Shop Now</button>
                        </div>
                    </div>
                    <div class="item3 items">
                        <a href="#" class="item">
                            <img src="../images/nike3.jpg" alt=""></a>
                        <div class="writeup">
                            <p class="normal-txt">
                                Authenticity. 100% Guaranteed.
                            </p>
                            <span id="txt">Air Jordan 1 Retro Low OG X Travis Scott</span>
                            <button class="btn">Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="yeezy">
                    YEEZY
                    <div class="item1 items">
                        <a href="#" class="item">
                            <img src="../images/men_back_20.jpg" alt=""></a>
                        <div class="writeup">
                            <p class="normal-txt">
                                Authenticity. 100% Guaranteed.
                            </p>
                            <span id="txt">Air Jordan 1 Retro Low OG X Travis Scott</span>
                            <button class="btn">Shop Now</button>
                        </div>
                    </div>
                    <div class="item2 items">
                        <a href="#" class="item">
                            <img src="../images/men_back_1.jpg" alt=""></a>
                        <div class="writeup">
                            <p class="normal-txt">
                                Authenticity. 100% Guaranteed.
                            </p>
                            <span id="txt">Air Jordan 1 Retro Low OG X Travis Scott</span>
                            <button class="btn">Shop Now</button>
                        </div>
                    </div>
                    <div class="item3 items">
                        <a href="#" class="item">
                            <img src="../images/yeezy3.jpg" alt=""></a>
                        <div class="writeup">
                            <p class="normal-txt">
                                Authenticity. 100% Guaranteed.
                            </p>
                            <span id="txt">Air Jordan 1 Retro Low OG X Travis Scott</span>
                            <button class="btn">Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="jordan">
                    JORDAN
                    <div class="item1 items">
                        <a href="#" class="item">
                            <img src="../images/men_back_18.jpg" alt=""></a>
                        <div class="writeup">
                            <p class="normal-txt">
                                Authenticity. 100% Guaranteed.
                            </p>
                            <span id="txt">Air Jordan 1 Retro Low OG X Travis Scott</span>
                            <button class="btn">Shop Now</button>
                        </div>
                    </div>
                    <div class="item2 items">
                        <a href="#" class="item">
                            <img src="../images/men_back_24.jpg" alt=""></a>
                        <div class="writeup">
                            <p class="normal-txt">
                                Authenticity. 100% Guaranteed.
                            </p>
                            <span id="txt">Air Jordan 1 Retro Low OG X Travis Scott</span>
                            <button class="btn">Shop Now</button>
                        </div>
                    </div>
                    <div class="item3 items">
                        <a href="#" class="item">
                            <img src="../images/jordan3.jpg" alt=""></a>
                        <div class="writeup">
                            <p class="normal-txt">
                                Authenticity. 100% Guaranteed.
                            </p>
                            <span id="txt">Air Jordan 1 Retro Low OG X Travis Scott</span>
                            <button class="btn">Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- ------------- ACCOUNT OVERVIEW ------------ -->
        <div class="account-page">
            <div class="account-header">
                <h4>Account Overview</h4>
                <img class="accountPage-close-button" src="../images/icon-close.svg" alt="close">
            </div>
            <div class="account-body">
                <div class="account-left">
                    <div class="account-left-top">
                        <div class="account-left-top-header">
                            <h4>ACCOUNT DETAILS</h4>
                        </div>
                        <div class="account-left-top-body">
                            <P class="full-name">Lorem Lorem</P>
                            <p id="user-mail">johndeo@gmail.com</p>
                        </div>
                    </div>
                    <div class="account-left-bottom">
                        <div class="account-left-bottom-header">
                            <h4>SNEAKERS STORE CREDIT</h4>
                        </div>
                        <div class="account-left-bottom-body">
                            <div class="credit-card-info">
                                <img id="alert" src="../images/icons8-high-priority-100.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-right">
                    <div class="account-right-top">
                        <div class="account-right-top-header">
                            <h3>ADDRESS BOOK</h3>
                            <img id="edit-pen" src="../images/dark-like-icon.png" alt="">
                        </div>
                        <div class="account-right-top-body">
                            <h4>Your default shipping address:</h4>
                            <p class="full-name">Lorem Lorem</p>
                            <address>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, ullam provident.</p>
                                <p>+901111100000</p>
                            </address>
                        </div>
                    </div>
                    <div class="account-right-bottom">
                        <div class="account-right-bottom-header">
                            <h3>NEWSLETTER PREFERENCE</h3>
                        </div>
                        <div class="account-right-bottom-body">
                            <p>You are currently not subscribed to any of our newsletter</p>
                            <a href="#">EDIT NEWSLETTER PREFERENCES</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>
                Deveoped By Famak
            </p>
        </footer>
    </main>
    <script src="../scripts/collection.js"></script>
    <script src="../scripts/Navigation.js"></script>

</body>